In [1]:
from datasets import load_dataset

# https://huggingface.co/datasets/financial_phrasebank
dataset = load_dataset("financial_phrasebank", "sentences_50agree")
dataset

DatasetDict({
    train: Dataset({
        features: ['sentence', 'label'],
        num_rows: 4846
    })
})

In [2]:
import pandas as pd

df = pd.DataFrame(dataset["train"])


def int_label(i):
    match i:
        case 0:
            return "negative"
        case 1:
            return "neutral"
        case 2:
            return "positive"
        case _:
            raise ValueError()


df["label"] = df["label"].apply(int_label)
df = df.reindex(columns=["label", "sentence"])
df

         label                                           sentence
0      neutral  According to Gran , the company has no plans t...
1      neutral  Technopolis plans to develop in stages an area...
2     negative  The international electronic industry company ...
3     positive  With the new production plant the company woul...
4     positive  According to the company 's updated strategy f...
...        ...                                                ...
4841  negative  LONDON MarketWatch -- Share prices ended lower...
4842   neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4843  negative  Operating profit fell to EUR 35.4 mn from EUR ...
4844  negative  Net sales of the Paper segment decreased to EU...
4845  negative  Sales in Finland decreased by 10.5 % in Januar...

[4846 rows x 2 columns]

In [3]:
df.to_csv("data/financial_phrasebank.csv", index=False, header=False)